@import 'variables';

.component.about-us {
    width: 120vw;
    height: 100vh;
    // background-color: red; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
  
    .content {
      color: white;
      width: 50em;
      height: 30eh;
      margin: 2em;
  
      .About__heading {
        font-size: xxx-large;
        text-transform: uppercase;
        background: linear-gradient($text-color-gradient-1, $text-color-gradient-2);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        margin: auto;
        font-family: $font-family;
        text-align: center;
      }
  
      p {
        text-align: justify;
        font-size: 1.5vw;
        font-family: 'Verdana', sans-serif; /* Font family for paragraphs */
      }
    }
  
    .image {
      img {
        max-width: 100%; /* Reduce the size of the image */
        min-width: 100%;
        height: 100vh;
        width: 100%; /* Make the image responsive */
        margin-top: 20px; /* Add margin above the image */
      }
    }
  
    /* Media query for mobile view */
    // @media screen and (max-width: 768px) {
    //   .component.about-us{
    //    flex-direction: column;
    //    justify-content: center;
    //    align-items: center;
    //   }

    //     .content {
    //     text-align: center; /* Center align text in mobile view */
    //   }
  
    //   .image {
    //     img {
    //       min-width: 50%;
    //       margin-left: 3em; /* Adjust margin as needed */
    //     }
    //   }
    // }
  
  
  
  