@import 'variables';

.component.about-us {
    width: 120vw;
    height: 100vh;
    // background-color: red; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
  
    .content {
      color: rgb(199, 190, 172);
      width: 50rem;
      margin: 2rem;
  
      .About__heading {
        font-size: 3rem;
        text-transform: uppercase;
        background: linear-gradient($text-color-gradient-1, $text-color-gradient-2);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        margin: auto;
        font-family: $font-family;
        text-align: center;
      }
  
      p {
        margin-left: 8vw;
        margin-right: 5vw;
        min-width: 10vw;
        text-align: justify;
        font-size: 1.2rem;
        font-family: $font-family;
      }
    }
  
    .image {
      img {
        max-width: 80vw;
        height: 80vh;
        // max-height: 100vh; /* Adjust max-height for better responsiveness */
        margin-top: 1rem; /* Adjust margin using rem */
      }
    }
  
    /* Media query for mobile view */
    // @media screen and (max-width: 768px) {
    //   .component.about-us{
    //    flex-direction: column;
    //    justify-content: center;
    //    align-items: center;
    //   }

    //     .content {
    //     text-align: center; /* Center align text in mobile view */
    //   }
  
    //   .image {
    //     img {
    //       min-width: 50%;
    //       margin-left: 3em; /* Adjust margin as needed */
    //     }
    //   }
    // }
  
  
  
  