.component.past-glimpses {
    width: 100%;
    height:100vh;
    background-color: black; /* Black background */
    color: white; /* Font color */
    padding: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
  
    .content {
      // max-width: 1200px; /* Adjust max-width as needed */
      width:100%;
      margin: 0 auto;
  
      h2 {
        // font-family: 'Verdana', sans-serif; /* Font family for h2 */
        margin-bottom: 20px;
      }
    }
  
    .image-grid {
      display: flex;
      width: 100%;
      height: 15em;
      // grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive grid with a minimum width of 250px */
      gap: 20px; /* Adjust the gap between images */
      
      img {
        border-radius: 8px; /* Add border-radius for rounded corners */
      }
    }
  }
  
  