@import 'variables';
h2{
  text-align: left;
}

.component.speaker-section {
  width:fit-content;
  height:100vh;
  color: white; 
  padding: 4em;
  display: flex;
  flex-direction: row;
  align-items:center;
  
    .content {
      width: fit-content;
      height: fit-content;
    }

    .speaker-info{
      display: flex;
      flex-direction: row;

      .speaker__name{
      font-size: xxx-large;
      text-transform: uppercase;
      background: linear-gradient($text-color-gradient-1, $text-color-gradient-2);
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      margin: auto;
      font-family: $font-family;
      text-align: left; 
      }
    }
  
    .speaker {
      width: 100vw; /* Take full viewport width */
      max-width: 80vw; /* Remove the max-width restriction if needed */
      margin-bottom: 20px; /* Adjust margin below each speaker */
      display: flex;
      flex-direction: row;

      .speaker-content {
        width: 50%; /* Adjust as needed */
        padding-right: 20px; /* Add padding between speaker name/info and image */
      }
      
      // img.speaker-image {
      //   height: auto;
      //   border-radius: 8px;
      // }

      .speaker__header{
        max-width: 30vw;
        padding-right: 30vh;
        padding-left: 20vh;

      }
      // img {  
      //   background-color: bisque;
      //   // max-width: 50%;
      //   height: auto;
      //   border-radius: 8px; 
      // }
  
      p {
        font-size: 18px;
      }
    }
    .social-media-icons {
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      margin-left: 2rem;

      img{
        width: 1.5vw;
      }
  
      a {
        margin-right: 10px; 
      }
    }
  }
  
  
  
  