@import 'variables';
h2{
  text-align: left;
}

.component.speaker-section {
  width:fit-content;
  height:100vh;
  color: white; /* Font color */
  padding: 4em;
  display: flex;
  flex-direction: row;
  align-items:center;
  
    .content {
      width: fit-content;
      height: fit-content;
    }

    .speaker-info{
      display: flex;
      flex-direction: row;

      .speaker__name{
        width: 20vw;
        min-width: fit-content;
        max-width: fit-content;
        font-size: 3rem;
        text-transform: uppercase;
        background: linear-gradient($text-color-gradient-1, $text-color-gradient-2);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        // margin: auto;
        font-family: $font-family;
        text-align: left;
      }
    }
  
    .speaker {
      width: 100vw; /* Take full viewport width */
      max-width: 80vw; /* Remove the max-width restriction if needed */
      margin-bottom: 20px; /* Adjust margin below each speaker */
      display: flex;
      flex-direction: row;

      .speaker-content {
        width: 50%; /* Adjust as needed */
        padding-right: 20px; /* Add padding between speaker name/info and image */
      }
      
      // img.speaker-image {
      //   height: auto;
      //   border-radius: 8px;
      // }

      .speaker__header{
        max-width: 30vw;
        padding-right: 30vh;
        padding-left: 20vh;

      }
      // img {  
      //   background-color: bisque;
      //   // max-width: 50%;
      //   height: auto;
      //   border-radius: 8px; 
      // }
        
      .speaker__info{
        margin-top: -2rem;
        text-align: left;
        font-size: 1.2rem;
        font-family: $font-family;
      }

      // p {

      //   speake.info{
      //     background-color: aqua;
      //     margin-left: 5vw;
      //     margin-right: 5vw;
      //     min-width: 10vw;
      //     text-align: justify;
      //     font-size: 1.2rem;
      //     font-family: $font-family;
      //   }
        
      // }
    }
    .social-media-icons {
      display: flex;
      flex-direction: row;
      margin-top: -2vw;
      align-items: center;

      p{
        margin-right: -8vw;
        font-weight:900;  
      }


      img{
        width: 1.6vw;
        margin-top: 0.4vw;
      }
  
      a {
        margin-right: 10px; 
      }
    }
  }
  
  
  
  