// scss/Sponsors.scss
@import 'variables';

.sponsors {
  height: fit-content;
  width: 100vw; // Adjusted to use viewport width
  max-width: 100vw;
  margin: 2vh auto; // Adjusted to use viewport height
  text-align: center;
  background: url('../../public/sponsor_bg.svg') center/cover no-repeat; // Adjust the path to your actual image

  h2 {
    font-size: 4vw; // Adjusted font size using viewport width
    text-transform: uppercase;
    background: linear-gradient($text-color-gradient-1, $text-color-gradient-2);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin: 0 0 5vh 0; // Adjusted margin using viewport height
    font-family: $font-family;
    text-align: center;
  }
}

.sponsor-section {
  margin: 2vh 0; // Adjusted margin using viewport height

  h3 {
    font-size: 2vw; // Adjusted font size using viewport width
    text-transform: uppercase;
    background: linear-gradient($text-color-gradient-1, $text-color-gradient-2);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin: 0 0 1vh 0; // Adjusted margin using viewport height
    font-family: $font-family;
  }

  .sponsor-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vh; // Adjusted gap using viewport height
    margin-bottom: 10vh;

    img {
      max-width: 8vw; // Adjusted max-width using viewport width
      height: auto;
      box-sizing: border-box;
      border-radius: 4px;
    }
  }
}
