.AllEvents {
  overflow-x: hidden;
  background-color: #0F0001;
  color: white;
  display: flex;
  flex-direction: column;
}
.AllEvents > * {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.AllEvents__heading {
  padding: 2rem 0;
  background: linear-gradient(to right, #f9daa8, #bc615e);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.AllEvents .EventTypeControl {
  width: fit-content;
  margin-left: auto;
  margin-right: 2rem;
  display: flex;
}
.AllEvents .EventTypeControl > * {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.AllEvents .EventTypeControl .EventTypeBtns {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0.75em 1em;
  background: transparent;
  color: white;
}
.AllEvents .EventTypeControl .EventTypeBtns-items {
  display: flex;
  flex-direction: row;
  position: relative;
}
.AllEvents .EventTypeControl .EventTypeBtns-items > * {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.AllEvents .EventTypeControl .EventTypeBtns-item {
  font-size: 0.75rem;
  padding: 0 2rem;
  padding-bottom: 0.75rem;
  margin-right: 0.25em;
  transition: color 0.06s linear;
  user-select: none;
}
.AllEvents .EventTypeControl .EventTypeBtns-item:hover {
  cursor: pointer;
  color: #bc615e;
}
.AllEvents .EventTypeControl .EventTypeBtns-underline {
  height: 3px;
  width: 40px;
  border-radius: 2px;
  background: #bc615e;
  position: absolute;
  bottom: 0;
  transition: transform 0.5s, width 0.1s ease-in;
}

@keyframes mymove {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.AllEventsFS {
  margin-top: 1rem;
  border: 2px solid transparent;
  border-top-color: #bc615e;
  box-sizing: border-box;
  grid-area: 1/1;
  padding: 20px;
  width: inherit;
}

.AllEventsL {
  font: 32pt/0 "Carta Marina W00 Regular";
  margin: auto;
  padding: 0 24px;
}

.EventSlides {
  min-height: 100vh;
}
@media (max-width: 850px) {
  .EventSlides {
    display: flex;
    flex-direction: column;
  }
}

.EventSlide {
  height: 8rem;
  display: flex;
  margin: 1.5rem 2rem;
  border-radius: 10px;
}
.EventSlide .EventImage {
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
@media (max-width: 850px) {
  .EventSlide .EventImage {
    width: 100%;
    height: 100%;
    margin: 0%;
  }
}
@media (max-width: 850px) {
  .EventSlide .EventSlide__Img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60%;
    margin: 0%;
  }
}
.EventSlide__Content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.EventSlide__desc {
  font-size: 1.25rem;
}
.EventSlide__text > * {
  font-family: "Times New Roman", Times, serif;
}
.EventSlide .shortcardename {
  font-size: 2.25rem;
  font-family: "Carta Marina W00 Regular";
  background: linear-gradient(#f9daa8, #bc615e);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
@media (max-width: 850px) {
  .EventSlide .shortcardename {
    font-size: 10vw;
  }
}
.EventSlide .longcardename {
  font-size: 2.25rem;
  font-family: "Carta Marina W00 Regular";
  background: linear-gradient(#f9daa8, #bc615e);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
@media (max-width: 850px) {
  .EventSlide .longcardename {
    font-size: 7vw;
  }
}
.EventSlide__learnmore {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  cursor: pointer;
}
.EventSlide__learnmore-arrow {
  margin-left: 0.2rem;
}
@media (max-width: 850px) {
  .EventSlide__btn {
    margin-bottom: 5%;
  }
}
.EventSlide__btn .EventRegBtn {
  font-size: 1.15rem;
  background-color: transparent;
  color: white;
  padding: 1rem 2rem;
  border-image: linear-gradient(#F9DAA8, #BC615E);
  border-image-slice: 1;
  cursor: pointer;
}
.EventSlide__btn > * {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
@media (max-width: 850px) {
  .EventSlide {
    flex-direction: column;
    height: 50vh;
    align-items: center;
    justify-content: center;
    padding: 2%;
  }
}

.blur {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.114);
  backdrop-filter: blur(2px);
  padding: 0px 10px;
}
@media (max-width: 850px) {
  .blur {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 850px) {
  .blur .EventSlide__text .EventSlide__learnmore {
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.EventSlide__Content {
  padding: 0%;
}