html {
  --duration: 0.5s;
  --dark: #2c3e50;
  --off-white: #ecf0f1;
}

.Allapp {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Allmenu {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0.75em 1em;
  background: transparent;
  color: white;
}
.Allmenu-items {
  display: flex;
  flex-direction: row;
  position: relative;
}
.Allmenu-items > * {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.Allmenu-item {
  font-size: 0.75rem;
  padding: 0 2rem;
  padding-bottom: 0.75rem;
  margin-right: 0.25em;
  transition: color 0.06s linear;
  user-select: none;
}
.Allmenu-item:hover {
  cursor: pointer;
  color: #bc615e;
}
.Allmenu-dash {
  height: 3px;
  width: 40px;
  border-radius: 2px;
  background: #bc615e;
  position: absolute;
  bottom: 0;
  transition: transform var(--duration), width 0.1s ease-in;
}

.AllEvents {
  color: white;
  display: flex;
  flex-direction: column;
}
.AllEvents > * {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.AllEvents__heading {
  padding: 2rem 0;
  background: linear-gradient(to right, #f9daa8, #bc615e);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.AllEvents .EventTypeControl {
  width: fit-content;
  margin-left: auto;
  margin-right: 2rem;
  display: flex;
}
.AllEvents .EventTypeControl > * {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.AllEvents .EventTypeControl .EventTypeBtn {
  font-size: 0.75rem;
  padding: 0 2rem;
  cursor: pointer;
}
.AllEvents .EventTypeControl .active {
  position: relative;
}
.AllEvents .EventTypeControl .active:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #bc615e;
}

.AllEventsFS {
  margin-top: 1rem;
  border: 2px solid transparent;
  border-top-color: #bc615e;
  box-sizing: border-box;
  grid-area: 1/1;
  padding: 20px;
  width: inherit;
}

.AllEventsL {
  font: 32pt/0 "Carta Marina W00 Regular";
  margin: auto;
  padding: 0 24px;
}

.EventSlide {
  height: 8rem;
  display: flex;
  margin: 1.5rem 2rem;
  border-radius: 10px;
}
.EventSlide .EventImage {
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.EventSlide__Content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.EventSlide__desc {
  font-size: 1.25rem;
}
.EventSlide__text > * {
  font-family: "Times New Roman", Times, serif;
}
.EventSlide__name {
  font-size: 2.25rem;
  font-family: "Carta Marina W00 Regular";
  background: linear-gradient(#f9daa8, #bc615e);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.EventSlide__learnmore {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  cursor: pointer;
}
.EventSlide__learnmore-arrow {
  margin-left: 0.2rem;
}
.EventSlide__btn .EventRegBtn {
  font-size: 1.15rem;
  background-color: transparent;
  color: white;
  padding: 1rem 2rem;
  border-image: linear-gradient(#F9DAA8, #BC615E);
  border-image-slice: 1;
  cursor: pointer;
}
.EventSlide__btn > * {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}