.EventContent {
  background: linear-gradient(to right, #f9daa8, #bc615e);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: flex;
}
.EventContent-left {
  width: 40vw;
  margin-top: 10px;
}
.EventContent-right {
  width: 60vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10px;
}

fieldset {
  border: 2px solid transparent;
  border-top-color: #bc615e;
  box-sizing: border-box;
  grid-area: 1/1;
  padding: 20px;
  width: inherit;
}
fieldset:nth-of-type(1) {
  background: content-box center/contain no-repeat violet;
}

legend {
  font: 15pt/0 "Carta Marina W00 Regular";
  margin: auto; /* to center */
  padding: 0 4px;
}

.EventRound {
  padding-left: 2rem;
  padding-bottom: 4rem;
  border-left: 2px solid #bc615e;
  display: flex;
}

.RoundContent {
  top: 8.48px;
}

.diamond {
  height: 6px;
  width: 6px;
  background-color: black;
  border: 1px solid white;
  position: relative;
  left: calc(-2rem - 4.24px);
  top: 1.06px;
  transform: rotate(45deg);
}

.glow {
  background-color: #fff;
}