@charset "UTF-8";
.main {
  background-color: #0F0001;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: none;
}

.main img {
  width: 6em;
  margin-top: 2em;
  margin-left: 2em;
}

.formContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2px;
}

.rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10%;
  align-items: center;
  margin: 0px;
  width: 100%;
  font-size: 1.5rem;
  font-family: "Crimson Pro";
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  background: linear-gradient(180deg, #f9daa8, #bc615e);
  background-clip: text;
  -webkit-background-clip: text;
}

.rules div ul {
  text-align: left;
  list-style: none;
}
.rules div ul li {
  font-size: 1.2rem;
}
.rules div ul li::before {
  content: "• ";
}
.rules div {
  width: 100%;
}