.main__header {
  /* background: url(../assets/MainPage/bg1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  position: relative;
  height: 120vh;
  flex-direction: column;
  display: flex;
  overflow: hidden;
  z-index: 2;
}



.main__header .top {
  display: flex;
  width: 100%;
  color: white;
  justify-content: space-between;
  z-index: 3;
}

.main__header .top .left ul {
  display: flex;
  gap: 10%;
  font-size: 1.4rem;
  margin-top: 30%;
  text-decoration: none;
  list-style: none;
  align-items: center;
}

.main__header .top .left ul li {
  transition: all 0.3s ease-in-out;
}

.main__header .top .left ul img {
  display: inline;
  justify-self: end;
  max-width: 25%;
}

.main__header .top .left ul div {
  border: 2px solid white;
  height: 40px;
  margin-right: 10px;
}

.main__header .top .left ul li:hover {
  cursor: pointer;
  color: brown;

}

.main__header .top .right ul li {
  text-transform: uppercase;
  font-family: 'Crimson Pro', Courier, monospace;
  transition: all 0.3s ease-in-out;
}

.main__header .top .right ul li:hover {
  cursor: pointer;
  color: brown;
}



.main__header .top .right {
  margin-top: 5%;
  margin-right: 5%;
}

.main__header .top .right ul {
  list-style: none;
  text-align: right;
  line-height: 3rem;
  font-size: 1.5rem;
}

.main__header .mid {
  width: 100%;
  height: 50%;
  text-align: center;
  z-index: 3;
  /* font-family: "Carata Maria"; */
}

.main__header .mid h1 {
  font-size: 4rem;
  font-family: "Carta Marina W00 Regular";
  font-weight: bolder;
  color: rgba(128, 128, 128, 0.46);
}

.main__header .mid h1 .year {
  font-size: 4rem;
  font-family: "Carta Marina W00 Regular";
  font-weight: bolder;
  color: rgba(128, 128, 128, 0.46);
}



.main__header .mid h2 {
  color: white;
  text-align: center;
  font-size: xx-large;
}


.svgContainer {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}


/* svg formating css */
.svg-background {
  min-width: 100vw;
  min-height: 120vh;
  z-index: 1;

  /* Send the SVG to the background */
}

.svg-character {
  min-width: 100vw;
  min-height: 120vh;
  z-index: 1;

  /* Send the SVG to the background */
}

.characterContianer {
  position: absolute;
  top: 0;
  z-index: 3;
}

/* css for fire particle canvas */
canvas {
  display: block;
  position: absolute;
  z-index: 2;
}

.leftAnimation {
  opacity: 0;
  animation: leftHud 2s forwards 1.5s;
}

.rightAnimation {
  opacity: 0;
  animation: rightHud 2s forwards 1.5s;
}

.midAnimation {
  opacity: 0;
  animation: midHud 2s forwards 1.5s;
}

.explore .explore__text:hover {
  cursor: pointer;
  color: brown;
}

@media screen and (max-width: 450px) {
  .main__header .mid h1 {
    font-size: 3.6rem;
  }

  .main__header .mid h1 .year {
    font-size: 3.6rem;
  }

  .main__header .top .left ul {
    padding-left: 10px;
  }
}