.Modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  color: #fff;
  padding: 0rem 2.25rem;
  padding-bottom: 1.5rem;
  z-index: 1000;
  background-color: #0F0001;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px rgba(188, 97, 94, 0.7882352941);
  border-radius: 5px;
}
.Modal__btn {
  transform: translate(1.5rem, 0.5rem);
  border: none;
  outline: none;
  color: #fff;
  font-size: 1.25rem;
  cursor: pointer;
  background: transparent;
  font-family: sans-serif;
  align-self: flex-end;
}
.Modal__heading {
  font-family: "Carta Marina W00 Regular";
  font-size: 2.5rem;
  margin: 1rem 0;
  margin-bottom: 0.25rem;
}
.Modal__tagline {
  font-family: "Carta Marina W00 Regular";
  color: #7e7e7e;
  font-size: 1.5rem;
  margin-bottom: 1.75rem;
}
.Modal__fees {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}
.Modal__submit {
  border: 2px solid;
  font-size: 1.5rem;
  background: transparent;
  color: #fff;
  font-family: "Carta Marina W00 Regular";
  padding: 0.2rem 0.5rem;
  border-image: linear-gradient(#F9DAA8, #BC615E);
  border-image-slice: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}