.tooltip {
  position: relative;
  display: inline-block;
  /* If you want dots under the hoverable text */
}
.tooltip:hover {
  cursor: help;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.467);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 1rem;
  overflow-x: visible;
  overflow-wrap: break-word;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
@media (max-width: 430px) {
  .tooltip .tooltiptext {
    transform: translateX(-40px);
  }
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}