@import '_variables.scss';

.AllEvents {
    overflow-x: hidden;
    background-color: #0F0001;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;

    &>* {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    &__heading {
        padding: 2rem 0;
        background: linear-gradient(to right, $text-color-gradient-1, $text-color-gradient-2);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    & .EventTypeControl {
        width: fit-content;
        margin-left: auto;
        margin-right: 2rem;
        display: flex;

        &>* {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .EventTypeBtns {
            display: flex;
            flex-direction: row;
            position: relative;
            padding: 0.75em 1em;
            background: transparent;
            color: white;

            &-items {
                display: flex;
                flex-direction: row;
                position: relative;

                &>* {
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                }
            }

            &-item {
                font-size: 0.75rem;
                padding: 0 2rem;
                padding-bottom: 0.75rem;
                margin-right: 0.25em;
                transition: color 0.06s linear;
                user-select: none;

                &:hover {
                    cursor: pointer;
                    color: $text-color-gradient-2;
                }
            }

            &-underline {
                height: 3px;
                width: 40px;
                border-radius: 2px;
                background: $text-color-gradient-2;
                position: absolute;
                bottom: 0;
                transition: transform 0.5s, width 0.1s ease-in;
            }
        }

    }
}

@keyframes mymove {
    0% {
        width: 0%;
    }

    100% {

        width: 100%;

    }
}

.AllEventsFS {
    margin-top: 1rem;
    border: 2px solid transparent;
    border-top-color: $text-color-gradient-2;
    box-sizing: border-box;
    grid-area: 1 / 1;
    padding: 20px;
    width: inherit;
}

.AllEventsL {
    font: 32pt/0 $font-family;
    margin: auto;
    padding: 0 24px;
}

.EventSlides {
    min-height: 100vh;
    @media (max-width:850px) {
        display: flex;
        flex-direction: column;
    }
}

.EventSlide {
    height: 8rem;
    display: flex;
    margin: 1.5rem 2rem;
    border-radius: 20px;
    
    .EventImage {
        height: 100%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        @media (max-width:850px) {
            width: 100%;
            height: 100%;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 0px;
            margin: 0%;
        }
        
    }
    
    & .EventSlide__Img{
        @media (max-width:850px) {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 60%;
            margin: 0%;
        }
    }
    
    &__Content {
        
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

        @media (max-width:850px) {
            border-bottom-left-radius: 20px;
            border-top-right-radius: 0px;
        }

    }
    
    &__desc {
        font-size: 1.25rem;
    }
    
    &__text {
        &>* {
            font-family: 'Times New Roman', Times, serif;
        }
    }
    
    .shortcardename {
        font-size: 2.25rem;
        font-family: $font-family;
        background: linear-gradient($text-color-gradient-1, $text-color-gradient-2);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        @media (max-width:850px) {
            font-size: 10vw;
        }
    }

    .longcardename{
        font-size: 2.25rem;
        font-family: $font-family;
        background: linear-gradient($text-color-gradient-1, $text-color-gradient-2);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        @media (max-width:850px) {
            font-size: 7vw;
        }
    }
    
    &__learnmore {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        cursor: pointer;
        
        &-arrow {
            margin-left: 0.2rem;
        }
    }
    
    &__btn {
        @media (max-width:850px) {
           margin-bottom: 5%;
        }
        .EventRegBtn {
            font-size: 1.15rem;
            background-color: transparent;
            color: white;
            padding: 1rem 2rem;
            border-image: linear-gradient(#F9DAA8, #BC615E);
            border-image-slice: 1;
            cursor: pointer;
        }
        
        &>* {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    }

    .blur {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding-right: 1.75rem;

        @media (max-width:850px) {
            border-top-right-radius: 0px;
            border-bottom-left-radius: 20px;
            padding-right: 10px;
        }
    }

    @media (max-width:850px) {
        flex-direction: column;
        height: 50vh;
        align-items: center;
        justify-content: center;
        padding: 2%;
        margin: 5.5vw 2rem;
    }
}

.blur{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.114);
    backdrop-filter: blur(2px);
    padding: 0px 10px ;
    @media (max-width:850px) {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    & .EventSlide__text .EventSlide__learnmore{
        @media (max-width:850px) {
            gap: 10px;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

    }
}


.EventSlide__Content{
    padding: 0%;
}
