@import 'variables';

.showstopper{
    background: url(../assets/EventPageAsst/showstopper.png);
}
.starpod{
    background: url(../assets/EventPageAsst/starpod.png);
}
.beatsmithshowdown{
    background: url(../assets/EventPageAsst/beatboxshowdown.png);
}

.event_header {
    // background: var(--bg-header-img);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 120vh;
    // width: 100%;
    flex-direction: column;

    display: flex;


    & .top {
        display: flex;
        width: 100%;
        color: white;
        justify-content: space-between;

        .left ul {
            display: flex;
            gap:10px;
            font-size: 1.4rem;
            margin-top: 20%;
            text-decoration: none;
            list-style: none;
            align-items: center;

            div {
                border: 2px solid white;
                height: 20px;
                margin-right: 10px;
            }
            img{
               display: inline;
               justify-self: end;
               max-width: 40%;
            }
        }

        .right {

            margin-top: 5%;
            margin-right: 5%;

            ul {
                list-style: none;
                text-align: right;
                line-height: 3rem;
                font-size: 1.5rem;

            }
        }
    }

    & .mid {
        width: 100%;
        height: 50%;
        margin-left: 10%;
        text-align: left;
        display: flex;
        justify-content: space-between;
        
        h1 {
            font-size: 4rem;
            font-family: 'LLDOT', 'Dot', 'Times New Roman', Times, serif;
            font-weight: bolder;
            color: rgba(128, 128, 128, 0.46);
            @media (max-width:650px) {

                text-align: center;
            }
        }

        h3 {
            color: white;
            font-size: xx-large;
            @media (max-width:650px) {

                font-size: x-large;
                margin-top: -1.3em;
                text-align: center;
            }
        }

        .mid_right{
            margin-right: 15%;
            text-align: end;
            p{
                display: flex;
                justify-content: end;
                gap: 5px;
                flex-wrap: wrap;
            }
            @media (max-width:650px) {
                margin-right: 5%;
            }
        }
        @media (max-width:650px) {

            flex-direction: column;
            margin-left: auto;
        }
    }
}

.sticky_header{
    opacity: 0%;
    height: 10%;
    z-index: 100;
    width: 100%;
    position: fixed;
    top: 0%;
    // background-repeat:no-repeat;
    // background-position: bottom;
    // background-size: cover;
    // background-blend-mode:color-burn;
    background-color: transparent;
    transition: .1s all;
    display: flex;
    justify-content: center;
    
    & .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .left{
            margin-left: 2%;
        }

        .right{
            margin-right: 5%;

            ul{
                list-style: none;

            }
        }
      
    }
//     ::after{
//         content: "";
//         position: absolute;
//         z-index: 100;
//         top: 100%;
//         width: 100%;
//         height: 25%;
//         // background-image: linear-gradient(to bottom, rgba(71, 7, 7, 0.359), rgba(82, 9, 9, 0.277));
//         // filter: blur(10px);
//         // -webkit-filter: blur(10px);
// }
}

.shown{
    opacity: 100%;
}