.formDiv{
    background-color: #0F0001;
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // text-align: center;
    // color: white;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:12px;
    color:#5E6366;
    font-size: large;
}

.infoDiv{
    display: flex;
    flex-direction: column;
    width:100%;
    background-color: #323232;
    opacity: 60%;
    border:none;
    border-radius: 12px;
    padding: 8px;
    // font-size: larger;
    @media (max-width:650px) {
        width: 80%;
    }
}

.input{
    color:#ABAFB1;
    border:none;
    border-radius: 12px;
    font-size: larger;
}

.infoDiv{
    input::placeholder,textarea::placeholder{
    color:#ABAFB1;
}
}

.infoDiv{textarea{
    color:white;
}
}

.formDiv{
    h1{
    width:100%;
    text-align: center;
    font-size:xx-large;
}
}

.questionDiv{
    gap: 24px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    // padding:none;  
}

.form{

    button{
    background-color: black;
    color:white; /* Set text color to white */
    border: 2px solid;
    border-radius: 10px;  
    border-image: linear-gradient(to right,#F9DAA8 , #BC615E);
    border-image-slice: 1;
    padding: 10px 20px;
    margin-top: 5%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width:fit-content;
    transition: color 0.3s ease;
    font-size: x-large;
    margin-bottom: 5%;
  }
}
  
  .form{
    button:hover{
    background: linear-gradient(to bottom, #F9DAA8, #BC615E);
    -webkit-text-fill-color: transparent;
    background-clip:text ;
    -webkit-background-clip: text;
  }
}