@import '_variables.scss';

.LoginSignUp {
    height: calc(100vh - var(--footer-height));
    // height: 10px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.loginContainer {
    width: 100%;
    display: flex;
}

.LoginClubLogo {
    margin: 2.5rem;
}

.bgImageLogin {
    width: 50%;
    background: url("../assets/MainPage/HeaderImg.png");
    background-size: cover;
    background-position: center;
}

.LoginSignUpForm {
    width: 50%;
    background-color: black;
    color: #5A5A5D;
    display: flex;
    align-items: center;
    justify-content: center;

    &>* {
        font-family: Arial, Helvetica, sans-serif;
    }
}

.signUpHeading {
    background: linear-gradient($text-color-gradient-1, $text-color-gradient-2);
    font-size: 2rem;
    font-weight: 500;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.loginInputs {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;

    &>* {
        font-family: 'Times New Roman', Times, serif;
    }
}

.passwordInputDiv {
    border: 1px solid $text-color-gradient-2;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-right: 0.5rem;
    &>* {
        font-family: 'Times New Roman', Times, serif;
    }
}

.passwordInput {
    border: 0;
    outline: 0;
    background-color: transparent;
    padding: 0.65rem;
    margin: 0.2rem 0;
    color: #fff;
    width: 100%;
}

.loginInput {
    border: 1px solid $text-color-gradient-2;
    background-color: transparent;
    border-radius: 5px;
    padding: 0.75rem;
    margin: 0.2rem 0;
}

.submitButton {
    margin-top: 1.5rem;
    width: 100%;
    padding: 0.75rem 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    background-color: black;
    color: white;
    border: 2px solid;
    border-image: linear-gradient(#F9DAA8, #BC615E);
    border-image-slice: 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    &>* {
        font-family: 'Times New Roman', Times, serif;
    }
}

.SignUpToLogin {
    text-align: center;
    color: #fff;
    &>* {
        font-family: Arial, Helvetica, sans-serif;
    }
}

.linkToLogin {
    margin-left: 5px;
    color: #C95F58;
    cursor: pointer;
}

.EyeIcon {
    cursor: pointer;
}

.GoogleSignIn {
    margin: 0.75rem 0;
    width: 100%;
}